<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link href='https://fonts.googleapis.com/css?family=PT Sans' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Inventory_style.css') }}">
    <title>Input Form</title>
</head>
<body>        
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <img src="static/styles/images/logo.png">
                <div class="menu">
                    <h2 font-family='PT Sans'>Menu</h2>
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('inventory_page') }}">Inventory</a>
                    <a href="{{ url_for('restock') }}">Restock</a>
                    <a href="{{ url_for('orders_page') }}">Orders</a>
                    <a href="#">Refunds</a>
                    <a href="#">Drug Information</a>
                    <a href="#">Finances</a>
                    <a href="#">Demand Forecast</a>
                </div>
            </div>
        </div>
        
        <div class = "content">
            <div class="header">
                <h2 id = "webname" font-weight="normal">Pharmacy Management System</h2>
            </div>         
    <h1>Inventory</h1>
    <p>List of Medicine Available for Sale</p>
    <!-- search bar -->
    <form method="POST" novalidate >
        <input type="text" name="user_input" placeholder = "enter name or ID" required>
        <button type="submit" value=None >Search</button>
    </form>
    <!-- table of items to be displayed -->
    <table>
        <tr>
            <th>Medicine Name</th>
            <th>Medicine ID</th>
            <th>Stock</th>
        </tr>
        {% for item in items %}
            <tr>
                <td width="45%">{{ item[0] }} </td>
                <td width="35%"> {{ item[1] }} </td>
                <td width="20%">{{ item[2] }}</td>
            </tr>
        {% endfor %}
     </table> 
        
    {% if items|length == 0 %}
        <p1>no results</p1>
    {% else %}
        <p1> {{ items|length}} results</p1>
    {% endif %}
</body>
<!-- allows page to be refreshed -->
<script type="text/javascript">
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>
</html>
